
.header{
	width: 100%;
	height: 150px;
	border: 1px solid #404040FF;
	margin: auto;	
	background-color:#212121FF ;
}

.title{
	color: #FFFFFFFF;
	font-size: 50px;
	font-family: Arnoldboecklin, fantasy;
	margin-left: 140px;
	margin-top:30px;
	font-style: oblique; 
}
.listtimesheet{
	color: #FFFFFFFF;
	font-size: 30px;
	font-family: Arnoldboecklin, fantasy;
	margin-left: 140px;
	margin-top: 20px;
	font-style: oblique; 
}
.listtimesheet ul{
	list-style: none;
}
.listtimesheet ul li{
	float: left;
	line-height: 10px;
	margin-left: 15px;
}

.listtimesheet a:hover{
	text-decoration: underline;
}

.list ul{
	list-style: none;
	margin-top: 5px;
}
.list ul li{
	float: right;
	line-height: 10px;
	margin-right: 15px;
}
.list ul li a{
	color: #FFFFFFFF;
	text-decoration: none;
	font-family: Coronetscript, cursive;
}
.list a:hover{
	text-decoration: underline;
}
.table__title{
	background-color:#09D7FFFF;
}
.table__content{
	background-color: #FFFFFFFF;
}
	
.Timesheet{
	color: #42EC0EFF;
	font-size: 50px;
	font-family: Arnoldboecklin, fantasy;
	margin-left: 140px;
	margin-top:30px;
	font-style: oblique;
}
.list_title{
	color: #FFFFFFFF;
	font-size: 20px;
	font-family: Arnoldboecklin, fantasy;
	font-style: oblique;
}